<!DOCTYPE html>
<html lang="en">
<head>
    {% block commonStyles %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    {% endblock %}
    <title>HH Pietet</title>
</head>
<body>
    <div></div>
    <div class="container">
        <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <h3>Сайт проекта "Pietet"</h3>
                </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <h2>О проекте:</h2>
                <p>
                <b>Цель проекта</b> - съэкономить время HR специалистов.<br>
                Если Вы таковым являетесь, отмечайте с помощью данного расширения соискателей, которые обещают прийти, но не приходят на интервью.<br>
                <b> Как это может помочь? </b><br>
                Если Вы заметили аналогиичную отметку в профиле соискателя, которого собираетесь позвать, Вы можете съкэономить свое время, если:<br>
                Поставите собеседование с ним на конец дня<br>
                Позовете соискателя на групповое интервью, при котором отсутствие одного из участников не сорвет всю встречу.<br>
                Если же у соискателя уже несколько подобных отметок, возможно это повод не звать его вовсе.
                </p>
                <p>
                    Проект находится на стадии "тестирование прототипа", просьба отнестись к багам и ошибкам с пониманием :)
                </p>
            </div>
        </div>
    </div>
</body>
</html>