<!DOCTYPE html>
<html lang="en">
<head>
    {% block commonStyles %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    {% endblock %}
    <title>HH Pietet</title>
</head>
<body>
    <div></div>
    <div class="container">
        <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <h3>Сайт проекта "Pietet"</h3>
                </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                
                <h2>Отзывы которые оставил пользователь о других резюме: id {{resumeId}}</h2>
                {% if comments.length != 0 %}
                    {% for item in comments %}
                        <p><b>{{item.cause}}</b> ({{item.date}}) - "{{item.text}}", пользователю <a target="_blank" href="{{api}}/сomm/{{item.id}}">id{{item.id}}</a></p>
                    {% endfor %}
                {% else %}
                    <p><b>Отзывы отсутствуют</b></p>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>